datajoint>=0.13.dev7
element-array-ephys @ git+https://github.com/datajoint/element-array-ephys.git
element-lab @ git+https://github.com/datajoint/element-lab.git
element-animal @ git+https://github.com/datajoint/element-animal.git
element-session @ git+https://github.com/datajoint/element-session.git
ipykernel